.list {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}

.list__item {
    align-items: center;
    padding: 10px;
}

.task__delete {
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    background: #ff4d4d;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
}

.task__toggle {
    margin-top: 10px;
    padding: 6px 10px;
    border: none;
    background: rgba(0, 128, 128, 0.644);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.85rem;
}



